#dkofblogin { }
  #dkofblogin p {
    max-width: 600px;
  }

  #dkofblogin input[type="text"] {
    margin-right: 0.5em;
  }
  #dkofblogin input[disabled] {
    background: #eee;
  }


.dkofblogin-permission {
  float: left;
  padding: 0.5em;
  width: 16em;
}

#dkofblogin_email_body {
  height: 10em;
  max-width: 600px;
  width: 100%;
}
#dkofblogin_email_preview_header {
  margin: 1em 0 0;
}
#dkofblogin_email_preview {
  background: #fafafa;
  border: 1px solid #eee;
  color: #444;
  margin: 0;
  max-width: 600px;
  padding: 10px;
  width: 100%;
}

/* ==|== Profile Edit Page ================================================== */
#dkofblogin-associated-profile {
  border: 1px #999 solid;
  display: inline-block;
  overflow: hidden;
  margin-right: 1em;
  padding: 1em;
  vertical-align: middle;
}
  #dkofblogin-associated-profile img {
    float: left;
    margin-right: 1em;
  }
  #dkofblogin-associated-profile span {
    float: left;
    line-height: 50px;
    margin: 0;
    white-space: nowrap;
  }
#dkofblogin-unlink-link {
  display: inline-block;
  vertical-align: middle;
}
#dkofblogin-deauthorize-link {
  display: inline-block;
}
